*{
  margin:0;
  padding:0;
}

.app{
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.board{
  width: calc(80px*8);
  height: calc(80px*8);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.square{
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white{
  background-color: rgb(150, 229, 245);
}

.black{
  background-color: rgb(27, 139, 14);
}

.square img{
  width: 80px;
  height: 80px;
  position: relative;
}

.selected{
  background-color: rgb(161, 255, 161);
}

.canGo{
  background-color: red;
}

.chooseFigure{
  height: 80px;
  width: 80px;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.hidden{
  display: none;
}