* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.board {
  width: calc(80px * 8);
  height: calc(80px * 8);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.square {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: rgb(150, 229, 245);
}

.black {
  background-color: rgb(27, 139, 14);
}

.square img {
  width: 80px;
  height: 80px;
  position: relative;
}

.selected {
  background-color: rgb(161, 255, 161);
}

.canGo {
  background-color: red;
}

.chooseFigure {
  height: 80px;
  width: 80px;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.hidden {
  display: none;
}

.restartButton {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);

  width: 5rem;
  height: 5rem;
  border-radius: 50%;

  background-image: linear-gradient(to bottom right, rgb(161, 255, 161), rgb(150, 229, 245));

  border: 2px solid #4a3c31;

  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.1),
    inset 0 2px 5px rgba(255, 255, 255, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 50;
  cursor: pointer;
  transition: all 300ms ease;
}