* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.board {
  width: calc(80px * 8);
  height: calc(80px * 8);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid #4a3c31;
}

.square {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: rgb(150, 229, 245);
}

.black {
  background-color: rgb(27, 139, 14);
}

.square img {
  width: 80px;
  height: 80px;
  position: relative;
}

.selected {
  background-color: rgb(161, 255, 161);
}

.canGo {
  background-color: red;
}

.chooseFigure {
  height: 80px;
  width: 80px;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.hidden {
  display: none;
}

.turn {
  font-family: monospace;
  /* font-mono */
  font-size: 1.25rem;
  /* text-xl */
  font-size: 32px;
  margin-bottom: 40px;
}

.restartButton {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);

  width: 5rem;
  height: 5rem;
  border-radius: 50%;

  background-image: linear-gradient(to bottom right, rgb(161, 255, 161), rgb(150, 229, 245));

  border: 2px solid #4a3c31;

  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.1),
    inset 0 2px 5px rgba(255, 255, 255, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 50;
  cursor: pointer;
  transition: all 300ms ease;
}

/* Container */
.timer-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* gap-4 */
  margin-bottom: 1.5rem;
  /* mb-6 */
  width: 100%;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 300px;
}

/* Base Player Card */
.player-card {
  padding: 0.75rem;
  /* p-3 */
  border-radius: 0.5rem;
  /* rounded-lg */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  transition: all 0.2s ease-in-out;
  /* Optional: adds smooth switching */
}

/* Text Styles */
.player-name {
  font-weight: 700;
  /* font-bold */
}

.player-time {
  font-family: monospace;
  /* font-mono */
  font-size: 1.25rem;
  /* text-xl */
}

/* --- Black Player Specifics --- */
/* Default (Inactive) */
.player-card.is-black {
  background-color: #e7e5e4;
  /* stone-200 */
  color: #a8a29e;
  /* stone-400 */
}

/* Active State */
.player-card.is-black.active {
  background-color: #44403c;
  /* stone-700 */
  color: white;
  border-color: #facc15;
  /* yellow-400 */
}

/* --- White Player Specifics --- */
/* Default (Inactive) */
.player-card.is-white {
  background-color: #57534e;
  /* stone-600 */
  color: #a8a29e;
  /* stone-400 */
}

/* Active State */
.player-card.is-white.active {
  background-color: white;
  color: black;
  border-color: #facc15;
  /* yellow-400 */
}